name: OCI 배포

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.OCI_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 0400 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.OCI_INSTANCE_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to OCI Instance
        run: |
          ssh ubuntu@${{ secrets.OCI_INSTANCE_IP }} << 'EOF'
            
            cd ~/seuneuseu-frontend

            git pull

            npm run build

            pm2 delete 0
            pm2 start npm -- start
          EOF
